.experiences {
  background-color: #f0ece2;
}

.experience-title {
  font-size: 3.3rem;
}

.job-heading {
  font-size: 2.3rem;
}

@media (max-width: 767px) {
  .job-heading {
  text-align: center;
  }
}

.job-subheading {
  font-size: 1.3rem;
}

.job-description {
  text-align: left;
}
