/* Overall header */
.App-header {
  background-color: #000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.section-link.yeet {
  border-bottom: 1px solid #fff;
  color: #fff !important;
  /* color: white; doesn't work */
}

.particles-position {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Headline */
.my-name {
  font-size: 4.2rem;
}

.my-picture {
  max-height: 75%;
  max-width: 75%;
  position: relative;
  z-index: 1;
}
