.black-navbar {
  background-color: black;
}

.navbar-title {
  font-size: 1.5rem;
  text-decoration: none !important;
}

.navbar-option,
.navbar-title {
  color: rgba(255, 255, 255, 0.5) !important;
}

.navbar-option:hover,
.navbar-title:hover {
  color: rgba(255, 255, 255, 0.75) !important;
}

.my-active .navbar-title {
  color: #fff !important;
}

.my-active .nav-link {
  border-bottom: 1px solid #fff;
  color: #fff !important;
}
