.App {
  text-align: center;
  /* font-family: 'Quicksand', sans-serif;
  font-weight: 300; */
}

/* Social networks */
.social-networks {
  padding-top: 20px;
}

.social-network-icon {
  color: white;
  padding-left: 5px;
  padding-right: 5px;
  margin: 4px;
  transition: all 0.5s;
  position: relative;
  z-index: 1;
}

.fa-linkedin:hover {
  color: #2867b2;
  text-decoration: none;
}

.fa-github:hover {
  color: #6e5494;
  color: #767676;
  text-decoration: none;
}

.fa-instagram {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  background: -webkit-radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  background-clip: text;
  -webkit-background-clip: text;
}

.fa-instagram:hover {
  color: transparent;
  text-decoration: none;
}

.fa-envelope:hover {
  color: #f1d592;
  text-decoration: none;
}